/* -------- Variables -------- */

// Colors

$primary-color: #ff6464;
$link-color: #00a8cc;

$main-text: #21243d;
$secondary-text: #8695a4;

$bg-color-main: #ffffff;
$bg-color-secondary: #edf7fa;

// Fonts

$main-font: "Heebo", sans-serif;

// Screens

$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";

/* -------- Variables -------- */
